.container_teacher{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.section-teacher{
    width: 80vw;
    max-width: 1000px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(242, 246, 207);
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.table-teacher{
    width: 75vw;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.edit{
    color: blue;
}

.delete{
    color: brown;   
}

.id{
    margin-left: 10px;
    min-width: 50px;
}

.ni{
    margin-left: 10px;
    min-width: 100px;
}

.nome{
    margin-left: 30px;
    min-width: 200px;
}

.footer_table{
    background-color: rgb(213, 209, 209);
    display: flex;
    height: 50px;
    width: 100%;
    max-width: 1000px;
    margin-top: 30px;
    justify-content: space-between;
    border-radius: 10px;
}

.btn1{
    background-color: aliceblue;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.btn2{
    background-color: aliceblue;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.pesquisar{
    display: flex;
    width: 80%;
    height: 70%;
    margin-top: 8px;
    justify-content: end;
}

.pesquisar input{
    border-color: antiquewhite;
}

.col1{
    background-color: rgb(245, 245, 245);
    width: 20px;    
}
.col2{
    background-color: rgb(227, 227, 227);
    width: 20px;    
}
.col3{
    background-color: rgb(245, 245, 245);
    width: 40px;
}
.col4{
    background-color: rgb(227, 227, 227);
    width: 100px;    
}
.col5{
    background-color: rgb(245, 245, 245);
    width: 150px;    
}
.col6{
    background-color: rgb(227, 227, 227);
    width: 150px;    
}
.col7{
    background-color: rgb(245, 245, 245);
    width: 150px;    
}
.col8{
    background-color: rgb(227, 227, 227);
    width: 20px;    
}

.lista{
    display: flex;
    flex-direction: row;
}