.container_container{
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.3);
}

.container_modal{
    display: flex;
    position: fixed;
    width: 80%;
    height: 80%;
    background-color:rgb(104, 189, 155);
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.body_modal{
    display: flex;
    background-color: rgb(104, 189, 155);
    height: 80%;
    flex-direction: row;
}

.head_modal{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.footer_modal{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa1{
    display: flex;
    background-color: rgb(104, 189, 155);
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.caixa2{
    display: flex;
    background-color: rgb(104, 189, 155);
    width: 70%;
    align-items: center;
    justify-content: center;
}

.caixa1 input{
    width: 90%;
    height: 30px;
    margin-top: 20px;
    border-color: bisque;
    border-radius: 5px;
    font-size: 18px;
}

.close_button{
    border-radius: 50px;
}

.close_button:hover{
    background-color: black;
    color: aliceblue;
}