.container_modal{
    display: flex;
    width: 500px;
    height: 80%;
    background-color:rgb(174, 174, 174);
    border-color: black;
    align-items: start;
    justify-content: flex-start;
}


.head_modal{
    width: 100%;
    height: 50px;
}

.body_modal{
    display: flex;
    background-color: rgb(220, 68, 41);
    height: 80%;
    flex-direction: row;
}


.footer_modal{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa1_t{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.image1{
    display: flex;
    background-color: rgb(215, 215, 218);
    align-items: center;
    justify-content: center;
    position: relative;
    top: 150px;
    left: 300px;
    width: 180px;
    height: 220px;
}

.image2{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: brown;
    top: -70px;
    left: 300px;
    width: 180px;
    height: 220px;

}

.caixa1_t input{
    width: 50%;
    height: 30px;
    margin-top: 20px;
    border-color: rgb(230, 227, 224);
    border-radius: 5px;
    font-size: 18px;
}

.close_button{
    border-radius: 50px;
    top: 0;
}

.close_button:hover{
    background-color: black;
    color: aliceblue;
}

.fileInput{
    display: flex;
    top: 450px;
    left: 525px;
    position: fixed;
    color: transparent;
}

.button_save{
    width: 100px;
    left: 45vw;
    position: fixed;
    align-self: center;
}