.container_modal_t{
    display: flex;
    position: fixed; /* Garante que o modal fique fixo na tela */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição exata */
    flex-direction: column;
    width: 550px;
    height: 80%;
    background-color:rgb(112, 161, 149);
    border-color: black;
    align-items: start;
    justify-content: flex-start;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
    overflow: visible;
    z-index: 1000; /* Garante que o modal fique sobre os outros elementos */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; /* Certifica que fique abaixo do modal */
}

.head_modal_t{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: end;
}

.caixa1_t{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 10px;
}

.campo_t{
    width: 95% !important;
}

.image_t{
    align-items: center;
    justify-content: center;
    position: relative;
    /* background-color: rgb(215, 215, 218); */
    top: -275px;
    left: 360px;
    width: 180px;
    height: 400px; /* Ajuste conforme necessário */
    /* min-height: 200px; */
}

.image1_t{
    display: flex;
    background-color: rgb(215, 215, 218);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 265px;
    left:375px;
    width: 180px;
    flex-grow: 1;
    min-height: 200px;
    z-index: 1;
}

.image2_t{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: brown;
    top: -275px;
    left:360px;
    width: 180px;
    flex-grow: 1;
    min-height: 200px;
    z-index: 2;

}

.caixa1_t input{
    width: 50%;
    height: 30px;
    margin-top: 20px;
    border-color: rgb(230, 227, 224);
    border-radius: 5px;
    font-size: 18px;
}

.close_button_t{
    top: 10px;
    right: 10px;
    background-color: rgb(112, 161, 149);
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    transition: color 0.3s ease;
}

.close_button_t:hover{
    background-color: rgb(58, 115, 117);
    color: aliceblue;
}

.fileInput{
    top: '0px';
    width: 50px;
    height: 50px;
    color: transparent;
}

.button_save_t{
    width: 100px;
    height: 50px;
    top: 250px;
    left: -150px;
    position: relative;
}

.body_modal_t{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.foto{
    display: flex;
    width: 180px;
    height: 180px;
    background-color: rgb(214, 248, 242);
    margin-top: 80px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    color: rgb(135, 138, 138);
}

.msg_t{
    display: flex;
    width: 100%;
    margin-left: -200px;
    align-items: center;
    justify-content: center;
    color: rgba(112, 8, 8, 0.527);
}

